<div class="bg-void-black text-ghost-gray min-h-screen">
    <!-- Hero Section -->
    <app-header-section></app-header-section>

    <!-- Enfoque Pedagógico -->
    <app-pedagogical-approach 
        [icon]="faBrain" 
        [accentColor]="'cyber-cyan'">
    </app-pedagogical-approach>

    <!-- Modelo de Aprendizaje -->
    <app-learning-model 
        [icon]="faRoute" 
        [accentColor]="'neon-violet'">
    </app-learning-model>

    <!-- Estrategias Didácticas -->
    <app-teaching-strategies 
        [icon]="faLightbulb" 
        [accentColor]="'glitch-green'">
    </app-teaching-strategies>

    <!-- Tecnologías Educativas -->
    <app-educational-tech 
        [icon]="faVrCardboard" 
        [accentColor]="'pulse-violet'">
    </app-educational-tech>

    <!-- Evaluación y Retroalimentación -->
    <app-evaluation-feedback 
        [icon]="faChartLine" 
        [accentColor]="'prisma-amber'">
    </app-evaluation-feedback>

    <!-- Rol del Docente y del Estudiante -->
    <app-roles 
        [icon]="faChalkboardTeacher" 
        [accentColor]="'neon-copper'">
    </app-roles>

    <!-- Aprendizaje Colaborativo y Comunidad -->
    <app-collaborative-learning 
        [icon]="faUsers" 
        [accentColor]="'cyber-cyan'">
    </app-collaborative-learning>

    <!-- Adaptabilidad y Personalización -->
    <app-adaptability 
        [icon]="faUserCog" 
        [accentColor]="'glitch-purple'">
    </app-adaptability>

    <!-- Innovación y Mejora Continua -->
    <app-innovation 
        [icon]="faRocket" 
        [accentColor]="'critical-red'">
    </app-innovation>
</div>